/* SEARCH SECTION */

.searchSection{
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 27, 27);
}
#searchInput{
    padding: 0;
    border: none;
    width: 600px;
    background: none;
    height: 50px;
    color: white;
    font-size: x-large;
    border-bottom: 2px solid purple;      /* the underline section of the input */
}
.result-Section{
    background-color: darkgray;
    height: 450px;
    padding: 5px 20px 5px 20px;
    
}
.result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}
.result{
    background-color: purple;
    display: flex;
    flex-direction: column;
    width: 256px;    
    position: relative;
    margin: 10px;
}
.image-container{
    background-color: red;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
