/* MID/BODY SECTION */

.searchSection{
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;    
    background-color: rgb(27, 27, 27);
}
#searchInput{
    padding: 0;
    border: none;
    width: 600px;
    background: none;
    height: 50px;
    color: white;
    font-size: x-large;
    border-bottom: 2px solid purple;      /* the underline section of the input */
    outline: none;
}
.result-Section{
    /* background-color: rgb(9, 9, 9); */
    height: 260px;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.result-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    padding: 20px 70px 0 70px;  
}
.result{
    /* display: none; */
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 150px;    
    height: 100%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 10px; */
}
.image-container{
    /* visibility: hidden;   */
    height: 85%;
    background-color: rgb(125, 124, 124);
    width: 100%;   
}
.image-container img{
    width: 100%;   
    height: 100%; 
    display: block;
    /* position: absolute; */
}
.information-container{
    /* position: absolute; */
    /* visibility: hidden;  */
    width: 100%;
    background-color: purple;
}  
.title-container{
    width: 100%;
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    white-space: nowrap; 
}
.object-title{
    /* position: absolute; */
    padding: 3px 5px 3px 3px;
    font-family: Arial, sans-serif;
    overflow-wrap: break-word;
    margin: 4px;
    margin-bottom: 0;
    font-size: small;
    color: white;
    font-weight: bold;
    /* margin-top: 4px; */
}
.ratingContainer{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0 0 3px 6px;   
}
.star-image{
    width: 16px;
    height: 16px;
}
.ratingText{
    margin: 0px;
    color: rgb(179, 178, 178);
    font-size: x-small;
    font-family: Arial, sans-serif;
    padding-left: 3px;
    margin-top: 4px;
    
}


.result-Section h1{
    color: white;
    font-family: Arial, sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: x-large;
}